<section id="modalCart">
    <!-- Modal -->
    <div class="modal fade " id="addProduct-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Produit à ajouter au panier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 row">
                            <div class="col-7">
                                <img style="max-width: 100px; min-width: 50px"
                                     src="{{ asset('img/product/')~ product.image }}"
                                     alt="{{ asset('img/product/')~ product.image }}">
                            </div>
                            <div class="col-5">
                                {{ product.title }}
                                <br>
                                {{ product.price / 100 }}&euro;
                                <br>
                            </div>
                        </div>
                        <div class="col-6">
                            <table class="table table-borderless">
                                <thead></thead>
                                <tbody style="background-color: whitesmoke">
                                <tr>
                                    <td>{{ totalQuantity }} article(s)</td>
                                    <td class="float-right">{{ total /100 }}&euro;</td>
                                </tr>
                                <tr class="font-weight-bold">
                                    <td>TOTAL TTC</td>
                                    <td class="float-right">{{ (totalTTC /100)|round(2,'floor')}}&euro;</td>
                                </tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Continuer mes achats
                    </button>
                    <a href="{{ path('panier_add', {'id':product.id}) }}">
                        <div>Commander</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>