{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Votre Panier{% endblock %}

{% block body %}

    <main class="container">
        <section id="cart">
            <div class=" row justify-content-center">
                <div class="col-md-9 col-11">
                    <table class="table table-borderless">
                        <thead class="thead-dark">
                        <tr>
                            <th><h3>Panier</h3></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr class="border-top">
                                <td class="justify-content-center">
                                    <div class="row">
                                    <div class="col-md-4 col-6">
                                        <img style="width: 100px;"
                                             src="{{ asset('img/product/')~ item.product.image }}" alt="">
                                    </div>
                                    <div class="col-md-8 col-6 trashCart">
                                        <a href="{{ path('product', {id:item.product.id}) }}">{{ item.product.title }} </a>
                                        <br>
                                        {{ item.product.price }}.00&euro;
                                    </div>
                                    </div>
                                </td>
                                <td class="font-weight-bold">
                                    <a style="margin: 0.5em;" href="{{ path('panier_add', {'id':item.product.id}) }}"><i class="fas fa-plus-square btn-outline-info"></i></a>
                                    {{ item.quantity }}
                                    <a style="margin: 0.5em;" href="{{ path('panier_removeOne', {'id': item.product.id}) }}"><i class="fas fa-minus-square btn-outline-info"></i></a>
                                </td>
                                <td class="font-weight-bold">{{ item.product.price * item.quantity }}.00&euro;</td>
                                <td>
                                    <a href="{{ path('panier_remove', {'id': item.product.id}) }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    <div  style="margin: 1em">
                        <a  href="{{ path('licences') }}" class="btn btn-outline-info"><
                            Continuer
                            mes achats</a>
                    </div>
                </div>

                <div class="col-md-3 col-11">
                    <table class="table table-borderless">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td>{{ totalQuantity }} articles</td>
                            <td class="float-right">{{ total }}.00&euro;</td>
                        </tr>
                        <tr>
                            <td>Livraison</td>
                            <td class="float-right">gratuit</td>
                        </tr>
                        <tr style="background-color: lightgrey" class="font-weight-bold">
                            <td>TOTAL TTC</td>
                            <td class="float-right">{{ total }}.00&euro;</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="text-center">
                            <td colspan="2">
                                <a href="{{ path('checkout') }}">
                                    Commander
                                </a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
