<!-- Navigation -->
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark text-center  text-uppercase"
         style="letter-spacing: -1px; ">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}">Alliance Manga</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    {{ render(controller('App\\Controller\\LicenceController::RenderMenuList')) }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('figurines') }}">Figurines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('derived') }}">Produits Dérivés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nouveautés</a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        {% if not app.user %}
                            <a class="nav-link" href="{{ path('login') }}">
                                <span><i class="fas fa-user fa-2x"></i>Mon compte</span>
                            </a>
                        {% else %}
                            <a class="nav-link" href="{{ path('account') }}">
                                <span>
                                    <i class="fas fa-user fa-2x"></i>
                                    Mon compte <br>
                                <a href="{{ path('logout') }}"
                                   style="text-transform: none; font-size: 10px">Déconnexion</a> <a
                                            href="{{ path('account') }}"
                                            style="text-transform: none; font-size: 10px">{{ app.user.firstName }}{{ app.user.lastName }}</a>
                                    </span>
                            </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('panier') }}">
                            <span><i class="fas fa-shopping-cart fa-2x"></i>Mon panier</span>
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}
<!-- End Navigation -->