<!-- Navigation -->
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center  text-uppercase"
         style="letter-spacing: -1px; ">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}"><img style="min-width: 50px; width: 120px; "
                                                                   src="{{ asset('img/logo/alliance_manga_logo.png') }}"
                                                                   alt="alliance_manga_logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    {{ render(controller('App\\Controller\\LicenceController::RenderMenuList')) }}
                </ul>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('figurines') }}">Figurines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('derived') }}">Produits Dérivés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('newProduct') }}">Nouveautés</a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto">
                    {% if not app.user %}
                        <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal"  data-target="#login">
                            <span><i class="fas fa-user fa-2x"></i>Mon compte</span></a>
                        {{ render(controller('App\\Controller\\SecurityController::login')) }}
                        <!-- RENDER POPUP LOGIN -->
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="" id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">{{ app.user.firstName }} {{ app.user.lastName }}

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('account') }}">Mon compte</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('panier') }}">
                            <i class="fas fa-shopping-cart fa-2x"></i>
                            {% if cartService.totalQuantity > 0 %}
                                <span class="badge badge-secondary text-white">{{ cartService.totalQuantity }}</span>
                            {% else %}
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class=" my-2 my-sm-0" type="submit"><i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}
<!-- End Navigation -->