{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <main class="container">
        <section id="products-home" class="border-top" style="padding-top: 1em">
            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <div class="border-right">
                        <h5 class="text-left">Nouveautés </h5>
                        <div class="products-figurine">
                            {% for product in latestProducts %}
                                {% if product.category == "Figurine" %}
                                <div class="col-lg-12 col-md-12 col-6" style=" width: 250px">
                                    <a class="card" href="{{ path('product', {id:product.id}) }}">
                                        <img src="{{ asset('img/product/') ~ product.image }}" class="card-img-top"
                                             alt="{{ product.image }}">
                                        <div class="card-body">

                                            <span >{{ product.nameCharacter }}</span><br>

                                            <span>{{ product.manga.title }}</span><br>

                                            <span class="float-right font-weight-bold">{{ product.price / 100 }} &euro;</span>
                                        </div>
                                    </a>
                                    <a href="{{ path('panier_add', {'id':product.id}) }}">
                                        <div>Ajouter au panier</div>
                                    </a>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class=" row col-md-8 col-12" style="margin-left: 1%">
                    {% for product in products %}
                        {% if product.category == "Figurine" %}
                            <div class="col-lg-4 col-md-6 col-6" style=" max-width: 100%">
                                <a class="card" href="{{ path('product', {id:product.id}) }}">
                                    <img src="{{ asset('img/product/') ~ product.image }}" class="card-img-top"
                                         alt="{{ product.image }}">
                                    <div class="card-body">

                                        <span >{{ product.nameCharacter }}</span><br>

                                        <span>{{ product.manga.title }}</span><br>

                                        <span class="float-right font-weight-bold">{{ product.price / 100 }} &euro;</span>
                                    </div>
                                </a>
                                <a href="{{ path('panier_add', {'id':product.id}) }}">
                                    <div>Ajouter au panier</div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}


