{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <main>
        <section id="product-detail">
            <div class="row">
                <div class="mb-3 col-md-12" style="max-width: 1000px;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="{{ asset('img/product/') ~ product.image }}" class="card-img-top"
                                 alt="{{ product.image }}">
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h1>{{ product.title }}</h1>
                                <h3>{{ product.price }},00&euro;</h3>
                                <p>{{ product.smallDescription }}</p>
                            </div>
                            <div>
                                <a href="">
                                    <div>Ajouter au panier</div>
                                </a>
                            </div>
                            <div>
                                <p>En achetant ce produit vous gagnerez 0,80 € grâce à notre programme de fidélité.
                                    Votre panier totalisera 2,80 € qui pourront être convertis en bon de réduction pour
                                    un prochain achat.</p>
                            </div>
                            <div class="content-detail">
                                <div>
                                    <p><i class="fa fa-lock"></i>Paiement Sécurisé</p>
                                </div>
                                <div>
                                    <p>Avis de nos clients</p>
                                </div>
                            </div>
                            <div>
                                <p>Société Belge, expédition depuis la Belgique. Sans frais de Douane</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="product-description">
                <div class="col-lg-4 col-md-4">
                    <h2>Description</h2>
                    <p>
                        {{ product.fullDescription }}
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h2>Détails du produit</h2>
                    <span>Matière :</span> {{ product.material }}<br>
                    <span>Type :</span> Figurine <br>
                    <span>Personnage :</span> {{ product.nameCharacter }}
                </div>
        </section>

        <!-- COMMENTARY SECTION-->
        <section>
            <div></div>
        </section>
        <!-- END COMMENTARY-->

        <!-- SIMILARY PRODUCT SECTION-->

        <!-- END SIMILARY PRODUCT SECTION-->
    </main>
{% endblock %}


