{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}

    {# Rating Star #}
    {% set comNumber = "0" %}
    {% set evalGlob = "0" %}
    {% set total = 0 %}
    {% for comments in comment %}
        {% set comNumber = loop.length %}
        {% set total = total + comments.rating %}
        {% set evalGlob = total / loop.length %}
    {% endfor %}

    <main>
        <section id="product-detail">
            <div class="container">
                <div class="row">
                    <div class="mb-3 col-md-12" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img src="{{ asset('img/product/') ~ product.image }}" class="card-img-top"
                                     alt="{{ product.image }}">
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <h1>{{ product.title }}</h1>
                                    {% if comment is empty %}
                                    {% else %}
                                        {% for i in 1..5 %}
                                            {% set starGlob = (evalGlob >= i ? "fas fa-star " : "far fa-star ") %}
                                            <a href="#comment"><i class="{{ starGlob }}" style="color: gold"></i>
                                        {% endfor %}{{ comNumber }} avis</a>
                                    {% endif %}
                                    <h3>{{ product.price / 100 }}&euro;</h3>
                                    <p>{{ product.smallDescription }}</p>
                                </div>
                                <div>
                                    <a href="{{ path('panier_add', {'id':product.id}) }}">
                                        <div>Ajouter au panier</div>
                                    </a>
                                </div>
                                <div>
                                    <p>En achetant ce produit vous gagnerez 0.80 € grâce à notre programme de fidélité.
                                        Votre panier totalisera 2.80 € qui pourront être convertis en bon de réduction
                                        pour
                                        un prochain achat.</p>
                                </div>
                                {% if comment is empty %}
                                {% else %}
                                    <div class="content-detail">
                                        <div class="col-7 text-center">
                                            <a href="#comment"><img style="width:175px;"
                                                                    src="{{ asset('img/logo/logo_comment2.png') }}"
                                                                    alt="logo_comment.png"></a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="douane">
                                    Société Belge, expédition depuis la Belgique. Sans frais de Douane
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="product-description">
            <div class="container">
                <div class="row">
                    <div class=" col-md-6">
                        <h2>Description</h2>
                        <p>
                            {{ product.fullDescription }}
                        </p>
                    </div>
                    <div class=" col-md-6">
                        <h2>Détails du produit</h2>
                        <span>Type :</span> {{ product.category.title }}<br>
                        <span>Personnage :</span> {{ product.nameCharacter }}
                    </div>
                </div>


                {% if comment is empty %}
                {% else %}
                    <!-- COMMENTARY SECTION-->
                    <div id="comment" class="text-center"
                         style="background-color: rgba(252,252,252,1); padding-top: 1em; margin-top: 1em">
                        <div style="margin-bottom: 2em">
                            <div>
                                <img style="width: 250px;"
                                     src="{{ asset('img/logo/logo_comment2.png') }}"
                                     alt="logo_comment.png">
                            </div>
                            <div class="col">
                                {% for i in 1..5 %}
                                {% set starGlob = (evalGlob >= i ? "fas fa-star fa-2x" : "far fa-star fa-2x") %}
                                <i class="{{ starGlob }}" style="color: gold"></i>
                                {% endfor %}<br>
                                Calculée à partir de {{ comNumber }} client(s)
                            </div>
                        </div>
                        <div class="col-md-12">
                            {% for comments in comment %}
                                {% if comments.isPublished == 1 %}
                                    <div style="border-bottom: 3px solid rgba(31, 123, 40, 0.14); padding:1em">
                                        <p>
                                            <span>
                                                {{ comments.user.firstName }} {{ comments.user.lastName }} ,
                                            </span>
                                            publié le {{ comments.user.createdAt|date('d/m/Y') }} <br>
                                            {% for i in 1..5 %}
                                                {% set starClass = (comments.rating >= i ? "fas fa-star" : "far fa-star") %}
                                                <i class="{{ starClass }}" style="color:gold;"></i>
                                            {% endfor %}
                                        </p>
                                        <p>{{ comments.message }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- END COMMENTARY SECTION-->
                {% endif %}

                <!-- ADD COMMENTARY -->
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <div class="row justify-content-center" style="margin-top:1em">
                    <div class="col-md-6 text-center">
                        {{ form(form) }}
                    </div>
                    {% endif %}
                    <!-- END COMMENTARY -->
                </div>
            </div>
        </section>


        <div class="text-center" style="padding-top: 2em;">
            <h4>Autres produits populaire </h4>
        </div>
        <section id="products-home">
            <div class="container">
                <div class="row justify-content-center">
                    {% for product in products %}
                        {% if product.category == "Figurine" %}
                            {% if product.isPublished == 1 %}
                                <div class=" col-lg-3 col-md-4 col-6" style="max-width: 100%">
                                    <a class="card" href="{{ path('product', {id:product.id, slug:product.slug}) }}">
                                        <img src="{{ asset('img/product/') ~ product.image }}" class="card-img-top"
                                             alt="{{ product.image }}">
                                        <div class="card-body">

                                            <span>{{ product.nameCharacter }}</span><br>

                                            <span>{{ product.manga.title }}</span><br>

                                            <span class="float-right font-weight-bold">{{ product.price / 100 }} &euro;</span>
                                        </div>
                                    </a>
                                    <a href="{{ path('panier_add', {'id':product.id}) }}">
                                        <div>Ajouter au panier</div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- SIMILARY PRODUCT SECTION-->

        <!-- END SIMILARY PRODUCT SECTION-->
    </main>
{% endblock %}


