{% extends 'base.html.twig' %}

{% block title %}Nouveautés{% endblock %}

{% block body %}
    <main class="container">
        <section id="products-home" style="padding-top: 1em">
            <div class=" justify-content-center">
                <h4 class="text-justify" style="margin-bottom: 1em;">Nouveaux produits</h4>
                <p class="text-justify">Il y a {{ latestProducts.getTotalItemCount }} produits.</p>
                <hr>
                <div class="row ">
                    {% for product in latestProducts %}
                        {% if product.isPublished == 1 %}
                            <div class="col-lg-3 col-md-4 col-6" style="max-width: 100%">
                                <a class="card" href="{{ path('product', {id:product.id, slug:product.slug}) }}">
                                    <img src="{{ asset('img/product/') ~ product.image }}" class="card-img-top"
                                         alt="{{ product.image }}">
                                    <div class="card-body text-justify">
                                        <span class="font-weight-bold">{{ product.title[:20] ~(product.title|length > 20 ? '...') }}</span><br>
                                        <span class="title-product">{{ product.manga.title }}</span><br>
                                        <span class="float-left">
                                    {{ render(controller('App\\Controller\\ProductController::renderRatingStar', {id:product.id})) }}
                                        </span>
                                        <span class="float-right font-weight-bold">{{ product.price / 10000 }} &euro;</span>
                                    </div>
                                </a>
                                <a href="{{ path('panier_add', {'id':product.id}) }}" data-toggle="modal"
                                   data-target="#addProduct-{{ product.id }}">
                                    <div>Ajouter au panier</div>
                                </a>
                            </div>
                            {{ render(controller('App\\Controller\\CartController::renderModalItemCart', {'id':product.id})) }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="pagination justify-content-center ">
                    {{ knp_pagination_render(latestProducts) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}


