{% block body %}
    {% apply inline_css(source('@css/main.css')) %}
        <main class="container" style="margin-left: 25%">
            <section id="mail-order">
                <a  href="{{ url('home') }}"><img style="width:130px; "
                                                 src="{{ absolute_url(asset('img/logo/logo_form.png')) }}"
                                                 alt="alliance_manga_logo.png"></a>

                <div style="margin-top: 2em; margin-bottom: 2em; width: 45%">
                    <p>Bonjour, {{ user.firstName }}<br>
                        Merci pour votre commande chez Alliance Manga, nous espérons qu’elle vous plaira !</p>
                    <div style="margin-top: 1em; margin-bottom: 1em">
                        <p style="font-weight: bold">Adresse de livraison</p>
                        {{ user.firstName }}{{ user.lastName }}<br>
                        {{ purchase.billingAddress }}<br>
                        {{ purchase.postalCodeBilling }} {{ purchase.city }}
                    </div>
                </div>

                <div class="products-mail">
                    <div class="row" >
                        {% for item in purchase.purchaseItems %}
                            <div class="col-12 row">
                                <div class="col-10">

                                    <div class="col-7">
                                        <p style="text-align: center">IMAGE</p>
                                    </div>
                                    <div class="col-5" >
                                        <p style="text-align: center">{{ item.productName }} <br>
                                            {{ item.quantity }}</p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <p style="text-align: center">{{ item.product.price / 100 }}&euro; </p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-12">
                            <table class="table table-borderless" style="width: 60%">
                                <thead></thead>
                                <tbody>
                                <tr>
                                    <td>Méthode de paiement</td>
                                    <td style="float: right">Carte de crédit</td>
                                </tr>
                                <tr>
                                    <td>Sous-total</td>
                                    <td style="float: right;">{{ purchase.total /100 }}&euro;</td>
                                </tr>
                                <tr>
                                    <td>Livraison</td>
                                    <td style="float: right">gratuit</td>
                                </tr>
                                <tr style=" font-weight: bold">
                                    <td>Montant total</td>
                                    <td style="float: right">{{ purchase.total /100 }}&euro;</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr style="justify-content: center">
                                    <td colspan="2">
                                        <a style="justify-content: center" href="{{ url('account') }}">
                                            <div>Voir ma commande</div>
                                        </a>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </section>
        </main>
    {% endapply %}
{% endblock %}
