<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="{{ path('licences') }}" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>Licences</span>
    </a>
    <div  style="line-height: 40px" class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for licence in licences %}
            <a  class="dropdown-item" href="{{ path('licence', {id:licence.id, slug:licence.slug}) }}"> <img
                        src="{{ asset('img/manga/logo/') ~ licence.logo }}" style="width: 55px; margin: 0.3em"
                        alt="{{ licence.logo }}"> <span class="font-weight-bold ">{{ licence.title }}</span></a>
            <div class="dropdown-divider"></div>
        {% endfor %}
    </div>
</li>