{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <section>
        <div class="row">
            <img src="{{ asset('img/manga/') ~ licence.image }}" class="img-fluid" alt="Responsive image">
        </div>
    </section>

    <main class="container">
        <section id="products-home" style="padding-top: 1em">
            <div class="justify-content-center">
                <h4 class="text-justify " style="margin-bottom: 1em; letter-spacing: -2px">{{ licence.title }} </h4>
                <p class="text-justify">Il y a {{ products.getTotalItemCount }} produits.</p>
                <div class="row border-top justify-content-center">
                    <div class=" col-lg-3 col-md-4 col-12">
                        <div class="border-right">
                            <h5 class="text-center text-uppercase" style="letter-spacing: -2px">Nouveautés </h5>
                            <div class="products-figurine">
                                {% for product in products |sort((a, b) => b.createdat <=> a.createdat)|slice(0, 2) %}
                                    {% if product.isPublished == 1 %}
                                        <div class=" col-lg-3 col-md-3 col-6" style="max-width: 100%">
                                            <a class="card"
                                               href="{{ path('product', {id:product.id, slug:product.slug}) }}">
                                                <img src="{{ asset('img/product/') ~ product.image }}"
                                                     class="card-img-top"
                                                     alt="{{ product.image }}">
                                                <div class="card-body">

                                                    <span>{{ product.title }}</span><br>

                                                    <span>{{ product.manga.title }}</span><br>

                                                    <div>
                                        <span class="float-left">
                                    {{ render(controller('App\\Controller\\ProductController::renderRatingStar', {id:product.id})) }}
                                        </span>
                                                        <span class="float-right font-weight-bold">{{ product.price / 100 }} &euro;</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="{{ path('panier_add', {'id':product.id}) }}" data-toggle="modal" data-target="#addProduct-{{ product.id }}">
                                                <div>Ajouter au panier</div>
                                            </a>
                                        </div>
                                        {{ render(controller('App\\Controller\\CartController::renderModalItemCart', {'id':product.id})) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class=" row col-lg-9 col-md-8 col-12" style="margin-left: 1%">
                        {% for product in products %}
                            {% if product.isPublished == 1 %}
                                <div class="col-lg-4 col-md-5 col-6" style="max-width: 100%">
                                    <a class="card" href="{{ path('product', {id:product.id, slug:product.slug}) }}">
                                        <img src="{{ asset('img/product/') ~ product.image }}" class="card-img-top"
                                             alt="{{ product.image }}">
                                        <div class="card-body">

                                            <span>{{ product.title }}</span><br>

                                            <span>{{ product.manga.title }}</span><br>

                                            <div>
                                        <span class="float-left">
                                    {{ render(controller('App\\Controller\\ProductController::renderRatingStar', {id:product.id})) }}
                                        </span>
                                                <span class="float-right font-weight-bold">{{ product.price / 100 }} &euro;</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="{{ path('panier_add', {'id':product.id}) }}" data-toggle="modal" data-target="#addProduct-{{ product.id }}">
                                        <div>Ajouter au panier</div>
                                    </a>
                                </div>
                                {{ render(controller('App\\Controller\\CartController::renderModalItemCart', {'id':product.id})) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        {{ knp_pagination_render(products) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}